<a href="https://colab.research.google.com/github/Much1r1/AI-Engineer-Roadmap/blob/main/Data_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Loading the dataset (assuming the filename from your screenshot)
df = pd.read_csv('Vehicle_Rental_Company_Financial_Transactions.csv.zip')

# Displaying the first 5 rows
print(df.head())

  License Plate Transaction Type                        Description  Value  \
0       NQT-604         Purchase  Purchase of FIAT - ARGO DRIVE 1.0 -64061
1       NQT-604           Rental    Rental of FIAT - ARGO DRIVE 1.0   2117
2       NQT-604           Rental    Rental of FIAT - ARGO DRIVE 1.0   2117
3       NQT-604           Rental    Rental of FIAT - ARGO DRIVE 1.0   2117
4       NQT-604           Rental    Rental of FIAT - ARGO DRIVE 1.0   2117

     Customer Segment  Contract Duration
0  customer_1  mining                 24
1  customer_1  mining                 24
2  customer_1  mining                 24
3  customer_1  mining                 24
4  customer_1  mining                 24

In [2]:
# Check for missing values
print(df.isnull().sum())

# Drop rows where critical info (like Value or License Plate) might be missing
df_cleaned = df.dropna(subset=['Value', 'License Plate'])

# Ensure 'Value' is a float (sometimes currencies have symbols that need stripping)
# df_cleaned['Value'] = df_cleaned['Value'].replace('[\$,]', '', regex=True).astype(float)

License Plate        0
Transaction Type     0
Description          0
Value                0
Customer             0
Segment              0
Contract Duration    0
dtype: int64

In [3]:
# Grouping by Transaction Type to see the total sum of values
type_summary = df_cleaned.groupby('Transaction Type')['Value'].sum()

print("Total Value by Transaction Type:")
print(type_summary)

Total Value by Transaction Type:
Transaction Type
Purchase   -136328006
Rental       88802872
Sale         91415340
Name: Value, dtype: int64

Phase 1: Strategic Notes
What the data represents
This dataset is a transactional ledger for a car rental fleet. It links specific vehicles (via License Plate) to financial events (Rental, Purchase, etc.). It includes both revenue-generating rows (Rentals) and capital expenditure/asset movements (Purchases), evidenced by the negative values shown in your screenshot's histogram.

Questions it could answer later
Utilization Rates: Which specific car models (from the Description column) are being rented most frequently?

Depreciation & ROI: By comparing the Purchase price of a license plate to the sum of its Rental transactions, what is the Return on Investment for a specific vehicle?

Churn/Maintenance Prediction: Can we identify patterns in transaction frequency that suggest a car is due for maintenance or is no longer being utilized?

Seasonality: If a timestamp column is available, when are the peak periods for rental revenue?